.loader {
  width: 80px;
  height: 80px;
  border: 3px solid #151515;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #D007E5 transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cls-1{fill:#222326;}.cls-2{fill:none;stroke:#222326;stroke-miterlimit:10;stroke-width:9.65px;}
